.corkboard__password,
.private__corkboard {
  height: 600px;
  width: 500px;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
}

.corkboard__password{

  & .container {
    
  }
}

.corkboardit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
  }
  
  .top {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .user {
    display: flex;
    align-items: center;
  
    & .name {
      font-size: 22px;
      font-weight: 500;
      margin-right: 10px;
    }
  }
  
  .title {
    font-size: 18px;
  }
  
  .ort {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .watch {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #444;
  }
  
  .pushpin {
    display: flex;
    width: 100%;
    max-width: 500px;
  
    & img {
      padding: 5px;
      width: 200px;
      max-width: 100%;
      height: auto;
  
    }
  }
