.center-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-height{
    height: 100vh;
}



.input__field{
    margin-bottom: 1rem;


    input {
        height: 2rem;
    }
}

.radio__input {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .input__field{
        display: flex !important;
        // flex-direction: row !important;
        & .input{
            display: flex;
            align-items: center;

            input {
                margin-right: 10px;
            }
        }
    }
}

.button {
    display: flex;
    .btn{
        border: none;
        border-radius: 8px;
        padding: 10px 25px;
        cursor: pointer;

        &-primary {
            background: #064ccf;
            color: #fff;
        }

        &-default {
            background: #f8f9fa;
        }
    }

    &-right{
        justify-content: flex-end;
    }

    &-space{
        justify-content: space-between;
    }
}


.text{

    &-center{
        text-align: center;
    }

    &-primary{
        color: #064ccf;
    }

    &-danger{
        color: #ff0000;
    }

    &-uppercase{
        text-transform: uppercase;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}


.form__header{
    margin-bottom: 20px;
}

