.dashboard {
  height: 600px;
  width: 500px;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;

  & .recent {
    margin: 10px 40px 10px 10px;

    & .recent__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 12px;
    }

    & .recent__header p {
      font-size: 16px;
      font-weight: 600;
    }

    
  }

  .user__corkboard{
    margin: 10px 40px 10px 10px;

      &-header{
          display: flex;
          align-items: center;

          & p {
              font-size: 16px;
              font-weight: 600;
              margin-right: 10px;
          }
      }
  }
}

.corkboard {
    margin: 10px 10px 10px 20px;

    & .corkboard__container {
        background: #e1e3e1;
        padding: 10px;

        & .corkboard__title {
            font-size: 18px;
        }

        & p {
            font-size: 13px;
            padding-left: 15px;

            span {
                font-weight: 600;
            }
        }
    }
}

a{
  text-decoration: none;
}

.to {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  h3,
  span:not(:last-child){
    margin-right: 5px;
  }
}

.search {
  height: 20px;
  display: flex;
  align-items: center;
  margin: 10px 50px 10px 30px;

  & .input__field{
    width: 250px;
    margin-right: 5px;
    margin-bottom: 0px !important;
    & input {
      width: 100%;
    }
  }
}

.corkboard__dashboard {
  min-height: calc(100% - 20px);
}